<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>URL SHORTENER</title>
</head>

<body class="bg-light">

  <div class="container mt-5">

    <!-- URL Shortener Form -->
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mb-4">URL Shortener</h2>
            <form method="POST">
              <div class="mb-3">
                <label for="url" class="form-label">URL</label>
                <input type="text" placeholder="Enter URL" id="url" name="url" class="form-control" required>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Shorten URL</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Shortened URLs Table -->
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mb-4">Shortened URLs</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Original URL</th>
                  <th scope="col">Short URL</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if (urls && urls.length) { %>
                  <% urls.forEach(url => { %>
                    <tr>
                      <td><a href="<%=url.full %>"><%= url.full %></a></td>
                      <td><a href="<%= `http://localhost:3000/${url.short}` %>"><%= `http://localhost:3000/${url.short}` %></a></td>
                      <td><a href="<%=url.full %>" class="btn btn-primary btn-sm">Go to site</a></td>
                    </tr>
                  <% }); %>
                <% } else { %>
                  <tr>
                    <td colspan="3">No shortened URLs yet.</td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>
